.widgets{width:100%;}
.widgets .hourlyavg{float:left;width:35%;}
.widgets .devices{float:left;width:30%;align-content: center;text-align: center;display: grid;}
.widgets .avgtemps{float:left;width:35%;}
